.meuPerfil {
    background-color: #F1EEEE;
    height: 8vh;
    width: 29vw;
    padding: 1.3vh;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    border-bottom: solid rgb(180, 180, 180, 0.5) 1px;

    border-radius: 3px;
}

div.meuPerfil>.picture {
    width: 55px;
    height: 55px;
    margin-top: 3px;
}

.picture {
    float: left;

    align-items: center;
    background-image: url('../imgs/default-icon.png') no-repeat center center fixed;
    background-color: rgba(235, 235, 235, 0.75);
    background-blend-mode: overlay;
    background-size: contain;

    width: 50px;
    height: 50px;
    border-radius: 50px;

    margin-left: 6px;
}



.dialog {
    background-color: #9DE1FE;
    height: 12vh;
    width: 29vw;
    padding: 1.3vh;
    display: inline-block;
    border-bottom: solid rgb(180, 180, 180, 0.5) 1px;
    padding-top: 8px;
}

div.dialog >.picture {
    background-image: none;
    background-color: white;
    margin-top: 10px;
}

.textDialog {
    float: left;
    height: 10vh;
    width: 22vw;
    padding-left: 15px; 
}
.textDialog > p{
    text-align: left;
    margin-bottom: 2px;
}
.barraPesquisa .textDialog > p{
    margin: 0px;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    color: grey;
}
#text2{
    margin-top: 0;
    color: grey;
    text-decoration: underline;
}

.barraPesquisa {
    background-color: #FCFFFC;
    height: 4vh;
    width: 29vw;
    padding: 1.3vh;
    display: inline-block;
    border-bottom: solid rgba(180, 180, 180, 0.5) 1px;
    padding-bottom: 11px;
}
.barraPesquisa > .picture {
    width: 30px;
    height: 30px;
    /* background-color: rgba(255, 0, 0, 0.275); */
    background-image: none;
    margin-left: 20px;
}
.contacts {
    float: left;
    background-color: #F8F9FB;
    height: 90vh;
    width: 30vw;
    border-radius: 3px;
}